@import "tailwindcss";

.navbarLink {
  @apply text-yellow-400 hover:text-yellow-200 transition-colors duration-300 flex items-center;
  text-align: center;
}

.navbarLogo {
  @apply border-2 border-yellow-400 rounded-full p-1 hover:border-yellow-200 transition-colors duration-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0 p-0;
  font-family: "Pompiere", cursive;
  font-weight: 800;
}

.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(253, 255, 247);
}

.container {
  background-color: rgb(253, 255, 247);
  height: 100%;
  min-height: 404px;
  width: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.navbarTitle {
  @apply text-5xl font-bold text-yellow-500;
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 28vw;
  flex: 1;
  border: 1.5px solid rgb(0, 0, 0);
  border-color: black;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.column2 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 25vw;
  flex: 1;
  border: 1.5px solid rgb(0, 0, 0);
  border-color: black;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

footer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Just Another Hand", cursive;
}

.imgWrapperContainer {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Pompiere", cursive;
  align-items: center;
}

.imgCover {
  object-fit: cover;
  width: 100%;
  height: 40vw;
}

.imgCoverTitle {
  width: fit-content;
  border-bottom: #000000 solid 1px;
  margin: auto;
}

.accommodationsCard {
  padding: 16px;
  margin: 16px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.accommodationsCardsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

ul {
  @apply text-lg mb-4;
  font-family: "Pompiere", "cursive";
  font-weight: 400;
}

p {
  font-family: "Pompiere", "cursive";
  font-weight: 500;
}

.navbarDivider {
  height: 15px;
  border-right: 2px solid rgba(234, 179, 8, 0.6);
  margin: 0;
  align-self: flex-end center;
}

.textTitle {
  @apply text-4xl font-bold text-white mb-4 border-b-2;
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
}

.hiddenNavbarLink {
  @apply hover:text-yellow-300 transition-colors duration-300 border-b-1;
}
