@import 'tailwindcss';

.listItem {
  @apply text-black hover:text-red-500 transition-colors duration-300 rounded-full border-black border-1 p-1;
}


.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}


.title {
    @apply text-3xl font-bold text-yellow-500;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
}