@import 'tailwindcss';


.navbarLink {
  @apply text-yellow-400 hover:text-yellow-200 transition-colors duration-300 flex items-center; 
  text-align: center;
}

.navbarLogo {
  @apply border-2 border-yellow-400 rounded-full p-1 hover:border-yellow-200 transition-colors duration-300;
}

.navbarLinkName {
  @apply border-r-2 pr-2  border-yellow-400;
}

h1, h2, h3, h4, h5, h6 {
  @apply m-0 p-0;
  font-family: Pompiere, sans-serif;
  font-weight: 800;
}

.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply m-0 p-0 box-border;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  background: #000;
  color: #fff;
}


.navbarTitle {
    @apply text-5xl font-bold text-yellow-500;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 28vw;
  flex: 1;
  border: 1.5px solid rgb(0, 0, 0);
  border-color: black;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.column2 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 25vw;
  flex: 1;
  border: 1.5px solid rgb(0, 0, 0);
  border-color: black;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.container {
  height: calc(100% - 62px);
  min-height: 404px;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Just Another Hand", cursive;
}

.imgWrapperContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Pompiere", cursive;
  align-items: center;
}

.imgCover {
  object-fit: cover;
  width: 100%;
  height: 40vw;
}

.imgCoverTitle {
   width: fit-content;
   border-bottom: #fff solid 1px;
   margin: auto;
}

.accomodationsCard {
  padding: 16px;
  margin: 16px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.accomodationsCardsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}



p {
  @apply text-lg mb-4;
  font-family: "cursive";
  font-weight: 400;
}

.textTitle {
  @apply text-4xl font-bold text-white mb-4 border-b-2;
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
}

.hiddenNavbarLink {
  @apply hover:text-yellow-300 transition-colors duration-300 border-b-1;
}
